<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kidream.persistence.mapper.IUserMapper">
	
	<resultMap type="com.kidream.persistence.pojo.User" id="user">
		<id property="id" column="id"/>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
	</resultMap>

	<select id="getUser" resultMap="user">
		select id,username,password from user where username = #{username} and password = #{password}
	</select>
	
	<select id="getUserByUsername" resultMap="user">
		select id,username,password from user where username = #{username}
	</select>
	
	<insert id="insertUser">
		insert into user (username,password) values (#{username},#{password})
	</insert>
</mapper>